In [1]:
import pandas as pd
df = pd.read_json("data/raw_data_cocktail.json")

**Ramka danych na podstawie,której odbywa się klastrowanie**

In [2]:
czynnosci = ["stir", "shake", "combine", "strain", "add", "garnish", "fill", "pour", "muddle"]
for czynnosc in czynnosci:
    df[czynnosc] = df["instructions"].str.lower().str.contains(czynnosc).astype(int)
df.drop(columns=["id", "imageUrl", "createdAt", "updatedAt", "tags", "instructions", "alcoholic",
                 "name", "glass", "category", "ingredients"], inplace=True)
df

     stir  shake  combine  strain  add  garnish  fill  pour  muddle
0       0      0        0       0    1        1     1     1       1
1       0      0        0       0    1        1     1     0       1
2       0      0        1       0    1        0     0     1       0
3       1      0        0       0    0        1     0     0       0
4       0      1        0       1    0        1     1     0       0
..    ...    ...      ...     ...  ...      ...   ...   ...     ...
129     1      0        0       1    0        0     0     0       0
130     0      1        0       1    0        0     0     0       0
131     1      0        0       0    0        0     1     1       0
132     1      0        0       1    0        0     0     0       0
133     0      1        1       1    0        1     1     0       0

[134 rows x 9 columns]